<div class="container">
    <h1>Exchange Rates</h1>
    <div class="currencies">
        <div class="USD">
            <img src="./assets/icons/united-states.png" alt="USD">
            <span>USD</span>
            <span>{{USD}}</span>
        </div>
        <div class="EUR">
            <img src="./assets/icons/european-union.png" alt="EUR">
            <span>EUR</span>
            <span>{{EUR}}</span>
        </div>
        <div class="GBP">
            <img src="./assets/icons/united-kingdom.png" alt="GPB">
            <span>GBP</span>
            <span>{{GBP}}</span>
        </div>
    </div>
</div>