* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mat-form-field-appearance-fill.br-0 .mat-form-field-flex  {
    border-radius: 0;
}

.value-color-white .mat-select-value-text,.value-color-white .mat-select-value-text {
    color: #fff;
}


.mat-form-field-flex {
border-left: 1px solid green;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(98, 62, 153);
}